extends layout

block head
  title Remote
  script(src="/js/index.js")
  link(rel="stylesheet",href="/styles/index.css")
  link(rel="stylesheet",href="/styles/codemirror.css")

block header-content
  a.navbar-text#settings(href="#"): i.glyphicon.glyphicon-wrench
  a.navbar-text.navbar-right#logout(href="#"): i.glyphicon.glyphicon-eject
  p.navbar-text.navbar-right#username= (data.username || "")

block content
  #loader
    .well.well-transparent.lead.text-center
      img(src="../img/spinner.gif")

  #slaves

  .modal.fade(tabindex="-1",role="dialog")
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type="button",data-dismiss="modal") &times
          h4 Settings
        .modal-body
          textarea(id="settingsJson")

        .modal-footer
          span.token
            = "Slave token: "
            code= data.slaveToken
          button.btn.btn-primary#saveSettings(type="button") Save
          button.btn.btn-default(type="button",data-dismiss="modal") Close

  script(id="slave-template", type="text/template").
    <div class="panel panel-default" data-slave="<%= slave.get("name") %>">
      <div class="panel-heading"><%= slave.get("name") %></div>
      <ul class="list-group">
       <% _.each(slave.get("commands"), function(command, index) { %>
          <li class="list-group-item" data-command>
            <span><%= command.displayName %></span>
            <i class="glyphicon glyphicon-chevron-right" />
            <img src="/img/loader.gif" />
          </li>
        <% }); %>
      </ul>
    </div>