extends layout

block head
  title Remote
  script(src="/js/index.js")
  link(rel="stylesheet",href="/styles/index.css")

block header-content
  a.navbar-text.navbar-right.needs-user#logout(href="#"): i.glyphicon.glyphicon-eject
  p.navbar-text.navbar-right#username= (data.username || "")

block content
  #loader
    .well.well-transparent.lead.text-center
      img(src="../img/spinner.gif")

  .needs-user
    h4 Slave token
    pre= data.slaveToken

    h4 Slaves
    pre
      each slave in (data.slaves || [])
        p= slave.name