extends layout

block head
    title Register
    script(src="/js/register.js")
    link(rel="stylesheet", href="/styles/register.css")

block content
    a(href="/login")
        .alert.alert-success Successful registration, click to login

    form
        input.form-control(name="email", type="email", placeholder="Email", value=data.email)
        if !data.authToken
            input.form-control(name="password", type="password", placeholder="Password")
            input.form-control(name="repeatPassword", type="password", placeholder="Repeat password")
        else
            #linkedProvider
                h6 Linked with
                img.provider(src="/img/" + provider + ".png")
                a(href="/register") (switch)
        input.form-control(name="firstName", type="text", placeholder="First name", value=data.firstName)
        input.form-control(name="lastName", type="text", placeholder="Last name", value=data.lastName)
        if data.codeRequired
            input.form-control(name="registrationCode", type="text", placeholder="Registration code")
        button.btn.btn-primary(type="submit") Register

    if !data.authToken
        hr
        #providers
            h6 Register with
            a(href="/register/google")
                img(src="/img/google.png")