@import "layout.less";

.needs-user {
    display: none; /* initially hide the items */
}

#logout {
    color: #fff;
    margin-left: 0;
}
#loader {
  margin-top: 30px;
}

.navbar-right > * {
  float: left;
}

#logout {
  margin-left: 10px;
  margin-right: 10px;
}

#username {
  margin-right: 0;
  margin-left: 10px;
}

li.list-group-item i, li.list-group-item img {
  float: right;
  color: #AAA;
}

li.list-group-item:hover, li.list-group-item:active {
  background-color: #d9edf7;
}

li.list-group-item.busy i.glyphicon.glyphicon-chevron-right {
  display: none;
}

li.list-group-item img {
  display: none;
}

li.list-group-item.busy img {
  display: block;
}