@import "layout.less";

.needs-user {
    display: none; /* initially hide the items */
}

#logout {
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}
#loader {
  margin-top: 30px;
}

#settings, #history {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 12px;
  float: left;
  font-size: 20px;
}

#history.active { 
  color: #DDD;
}

#executions {
  display: none; // initially hidden
}

.navbar-right > * {
  float: left;
}

#username {
  margin-right: 0;
  margin-left: 10px;
}

li.list-group-item i, li.list-group-item img {
  float: right;
  color: #AAA;
}

li.list-group-item:hover, li.list-group-item:active {
  background-color: #d9edf7;
}

li.list-group-item.busy i.glyphicon.glyphicon-chevron-right {
  display: none;
}

li.list-group-item img {
  display: none;
}

li.list-group-item.busy img {
  display: block;
}

.modal-header {
  height: 45px;
}

.modal-header h4 {
  margin-top: 0;
}

.modal-footer {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-content {
  background-color: #e5e5e5;
}

.modal-body {
  background-color: white;
  padding: 10px;
}

.modal-dialog {
  width: 90%;
}

.modal-footer .token {
  margin-top: 5px;
  float: left;
}